
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Memorials can be read by anyone, but only written/deleted by the owner.
    match /memorials/{memorialId} {
      allow read: if true;
      allow write, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }

    // Signups can only be created by the user who is signing up.
    // They cannot be read, updated, or deleted by anyone to maintain an immutable log.
    match /signups/{signupId} {
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow read, update, delete: if false;
    }
  }
}
